<style type="text/css">
.header {
  margin-top: 1%;
  padding: 3%;
  background: #c964d7;
  font-style: italic;
}
.img_head{
  width: 40px;
  height: 40px;
  }
.main_page_head{
  margin-left: 5%;
  margin-right: 2%;
  color: #0fe57b;
  text-decoration: none;
  } 
.add_article{
  margin-left: 5%;
  margin-right: 2%;
  color: #cbb547;
  text-decoration: none;
  }
.regist_head{
  margin-left: 5%;
  margin-right: 2%;
  color: #66e223;
  text-decoration: none;
  }
.enter{
  margin-left: 5%;
  margin-right: 2%;
  color: #432adb;
  text-decoration: none;
  }
</style>

<div>
  <nav class="header">
    <a href="index.php" title="Home page"><img class="img_head"  src="https://i.pinimg.com/originals/13/c1/68/13c1681b80b324f4e56013240c8556cc.jpg"></a>
    <a class="main_page_head" href="index.php" title="Go to home page">Home</a>
    <a class="add_article" href="add_article.php" title="Add article">Add article</a>
    <a class="regist_head" href="users\regist.php" title="Go to the registration page">Registration</a>
    <a class="enter" href="users\login.php" title="Log into an existing account">Log in</a>
  </nav>
</div>
